*{
  
    padding: 0;
}
  body{
    margin: 0px;
  }
    nav {
      list-style-type: none;
      display: flex;
      float: inline-end;
      gap: 25px;
      padding-right: 100px;
      color: white;
      font-size: 20px;
      font-family: normal 16px sans-serif;
    }

    t {
      font-size: 30px;
      padding-left: 60px;
      color: white;
      font-family: "Quicksand", sans-serif;
    }

    .center1 {
      text-align: center;
      font-size: 60px;
      color: white;
      padding-top: 250px;
      font: bold 60px "Open Sans", sans-serif;
      margin-bottom: 15px;
    }

    .center2 {
      text-align: center;
      font-size: 40px;
      color: white;
      font: normal 28px "Open Sans", sans-serif;

    }

    .button {

      display: block;
      text-align: center;
      width: 200px;
      text-decoration: none;
      background-color: #3f51b5;
      padding: 20px 46px;
      margin-left: 800px;
      border-radius: 4px;
      color: white;
      font: bold 60px "Open Sans", sans-serif;
      font-weight: bold;
      opacity: 1;
      font-size: larger;

    }

    .header {
      background-image: url("main.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 300px;
      padding-top: 50px; 
      animation: 1s fadein 0.5s forwards;
       
}
  
@media (max-width: 800px) {
	 header{
		padding: 20px 50px;
		flex-direction: column;
	}
}


    .destination {
      text-align: center;
      color: #555;
      font-size: large;

    }

    .c3 {
      font: 32px "Open Sans", sans-serif;
      text-transform: capitalize;
      font-weight: bold;

    }

    .pp {
      padding-left: 600px;
      width: 800px;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      font-size: larger;

    }

    hr {
      width: 300px;
      border: 2px solid #3f51b5;
    }

    .container1{
    display:grid;
    padding-left: 100px;
    padding-right: 50px;
    grid-template-columns: 2fr 4fr; /* width of col 1 & col 2 */
    grid-template-rows:  400px; /* height of row can be specified in px */
    
}
.container2{
    display:grid;
    padding-left: 100px;
    padding-right: 50px;
    margin-bottom: 100px;
    grid-template-columns: 4fr 2fr; /* width of col 1 & col 2 */
    grid-template-rows: 400px;/* height of row can be specified in px */
}

    .m1 {

      flex-basis: 70%;
      
      padding: 20px;
      
      background-clip: content-box;
      background-size: cover;
      background-position: center;
      flex-basis: 70%;
      display: list-item;
      text-align: -webkit-match-parent;
      unicode-bidi: isolate;
      list-style-type: none;
    }

    .m2 {

      flex-basis: 70%;
     
      padding: 20px;
      background-clip: content-box;
      background-size: cover;
      background-position: center;
      display: list-item;
      text-align: -webkit-match-parent;
      unicode-bidi: isolate;
      list-style-type: none;
    }

    .n1 {


      height: 350px;
      width: 500px;
      padding: 20px;
      background-clip: content-box;
      background-size: cover;
      background-position: center;
      flex-basis: 70%;
      display: list-item;
      text-align: -webkit-match-parent;
      unicode-bidi: isolate;
      list-style-type: none;
    }

    .n2 {

      flex-basis: 70%;
      height: 350px;
      width: 880px;
      padding: 20px;
      background-clip: content-box;
      background-size: cover;
      background-position: center;
      display: list-item;
      text-align: -webkit-match-parent;
      unicode-bidi: isolate;
      list-style-type: none;
    }


    .tll {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }

    .container {
      display: grid;
      grid-template-columns: 2fr 2fr;
      /* width of col 1 & col 2 */
      grid-template-rows: 2fr 2fr;
      /* height of row 1 & row 2 */
      gap: 10px;
    }


    .images {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      list-style-type: none;
      gap: 30px;
    }

    .images li i {
      color: #8c9eff;

    }

    .images li p {
      width: 700px;
      /* if text goes beyond this width then break line*/
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      font-size: larger;
    }

    .auth {
      text-align: center;
      color: #555;
      font-size: large;
    }

    .input {
      align-content: center;
      padding: 20px;
      padding-right: 500px;
      margin-left: 400px;
      color: #555;
      font-size: large;
    }
a{text-decoration: none;
color: white;}
    .button2 {

      display: block;
      text-align: center;
      width: 200px;
      text-decoration: none;
      background-color: #3f51b5;
      font: bold 60px "Open Sans", sans-serif;
      padding: 20px 46px;
      margin-left: 800px;
      margin-right: 100px;
      border-radius: 4px;
      color: white;
      font-weight: bold;
      opacity: 1;

    }

    .button1 {
      text-align: center;
      width: 200px;
      text-decoration: none;
      background-color: #3f51b5;
      padding: 20px 46px;
      border-radius: 4px;
      color: white;
      font-weight: bold;
      opacity: 1;
      font-size: larger;
      margin-left: 20px;
    }

    .bar {
      display: flex;
      
    }

    footer{
      display: flex;
   background-color: #607d8b;
    color: #fff;
    margin: 0;
   
}

.foot{
  display:flex;
  gap: 100px; 
  list-style-type: none;
}
    i{
      padding-left: 15px;
      
     
    }

  
footer ul li {
	margin-left: 106px;
}